<div class="container">

<form class="form-horizontal" name='addListingForm' >
	<fieldset>
		<legend>Create a new listing</legend>
		<div ng-if="err" class="alert alert-warning alert-dismissable">
		    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
		    <p>{{err}}</p>
		</div>
		<div class="control-group">
			<label class="control-label" for="title" autofocus>Title:</label>
			<div class="controls">
				<input type="text" required ng-model="title">
			</div>
		</div>	
		<div class="control-group">
			<label class="control-label" for="price">Price:</label>
			<div class="controls">
				<input type="number" min="0" step="0.01" required ng-model="price"> <span>  €</span>
				<!-- TODO: Possible extension
				<select for="currency">
					<option value="eur">EUR</option>
					<option value="usd">USD</option>
				</select> -->
			</div>
		</div>
		<div class="control-group">
			<label class="control-label" for="category">Category:</label>
			<div class="controls">
				<!-- TODO: Possible extension
				<select ng-model="categoryList">
					
					<option ng-repeat="category in categories">
						{{category}}
					</option> -->
				<select ng-model="category">
					  <option value="art" selected>Art</option>
					  <option value="computers">Computers</option>
					  <option value="fashion">Fashion</option>
					  <option value="sport">Sport</option>
					  <option value="other">Other</option>
					  <!-- TODO: more categories or category model -->
				</select>
			</div>
		</div>
		<!-- TODO: lepsi tooltip -->
		<div class="control-group" title='Check "Private" if you do not want your telephone number to be seen by others.'>
			<label class="control-label" for="private">Private:</label>
			<div class="controls">
				<input type="checkbox" name="privateListing" value="true" ng-model="mode" >
			</div>	
		</div>
		<div class="control-group">

			<!--TODO: image upload-->
			<label class="control-label" for="userImage">Add image:</label>
			<div class="controls">
				<input type="file" name="userImage" accept="image/*" ng-model="img" id="file-upload">
			</div>

		</div>
		<div class="control-group">
			<label class="control-label" for="imageUrl">Or enter image URL:</label>
					<div class="controls" id="image-urls">
						<input type="text" name="imageUrl" ng-model="image" id="image1"> 
					</div> 
		</div>
		<div class="control-group">
			<label class="control-label" for="description">Description:</label><br>
			<div class="controls">
				<textarea name="description" cols="50" rows="5" required ng-model="description">Describe your item</textarea>
			</div>
		</div>
		<div class="control-group">
			<label class="control-label"></label>
			<div class="controls">
				<button ng-click="newListing()"  class="btn btn-primary">List item</button>
			</div>
		</div>
	</fieldset>
</form>
	

</div>
<script>
  $(function() {
    $( document ).tooltip();
  });
 </script>
