<div class="container-fluid">
    <p> Showing all your trades </p>

      <div class="span10">
			<ul>
    			<li ng-if="(trade.user_id == user.id) && (trade.article.category.indexOf(category_show) > -1 || category_show === 'all')" ng-repeat="trade in trades | activeFilter | orderBy:order" class="thumbnail trade-listing">
					<div class="img-container"><a href="#/trades/{{trade.id}}" class="thumb"><img ng-src="{{trade.article.image[0]}}" class="slika_seznam"></a></div>
      				<a href="#/trades/{{trade.id}}">{{trade.article.title}}</a>
      				<p >{{trade.article.description.substring(0,200)}}...</p>
      				<p>{{trade.article.price}} €</p>
					<p>Created: {{ trade.created | date }}</p>  
    			</li>
  			</ul>
  		</div>
    </div>
    <a href="#/mytrades">Show my open trades</a><br>
    <a href="#/myclosedtrades">Show my closed trades</a>   
</div>