<div class="container-fluid">
	<div class="row-fluid">
		<div class="pull-right">
			
			<ul class="nav nav-pills">
			<li>
				Sort by:<br>
				<select ng-model="order">
			  	<option value="article.title">Alphabetical</option>
			  	<option value="article.price">Lowest price</option>
			  	<option value="-article.price">Highest price</option>
			  	<option value="-created">Newest</option>
				</select>
			</li>			
			</ul>
			<a class="btn btn-primary pull-right" ng-show-auth='login' href="#/newtrade">New Trade</a>
		</div>		

     	<div class="span2">
			<ul class="nav nav-list">

					Search: <input ng-model="query" placeholder="Search" >
				<li class="nav-header">
					Show category:
					<select ng-model="category_show">
					  <option value="all">All</option>
					  <option value="art">Art</option>
					  <option value="computers">Computers</option>
					  <option value="fashion">Fashion</option>
					  <option value="sport">Sport</option>
					  <option value="other">Other</option>
					</select>
				</li>
			</ul>
			
      </div> 
      <div class="span10">
			<ul>
    			<li ng-if="trade.active!=0 && (trade.article.category.indexOf(category_show) > -1 || category_show === 'all')" ng-repeat="trade in trades | orderByPriority | filter: query | orderBy:order" class="thumbnail trade-listing">
					<div class="img-container"><a href="#/trades/{{trade.id}}" class="thumb"><img ng-src="{{trade.article.image[0]}}" class="slika_seznam"></a></div>
      				<a href="#/trades/{{trade.id}}">{{trade.article.title}}</a>
      				<p >{{trade.article.description.substring(0,200)}}...</p>
      				<p>{{trade.article.price}} €</p>
					<p>Created: {{ trade.created | date }}</p>  
    			</li>
  			</ul>

  		</div>
    </div>
</div>

