<div class="container-fluid">
<ul class="thumbnails pull-left">
  <li ng-repeat="img in trade.article.image">
    <img ng-src="{{img}}" class="slika_seznam">
  </li>    
</ul>

<img ng-src="{{trade.article.image[0]}}" class="detail">
 </div>

<ul>
	<li>
    <h1>{{trade.article.title}}</h1>
    <p>{{trade.article.description}}</p>
  </li>
  <li>
		<span>Avaliable until:</span>
		<dd>{{ trade.expiry | date }}</dd>
  </li>
	<li>
    	<span>Price:</span>
    	<dd>{{trade.article.price}} €</dd>
  </li>
 	<li>
    	<span>Category:</span>
    	<dl>
      	<dd ng-repeat="category in trade.article.category">{{category}}</dd>
   		</dl>
  	</li>
  	<li>
		<!-- tu uporabi spremenljivko tradeUser.atribut_userja -->
    	<span>Posted by:</span>
    	<dd>{{tradeUser.first_name}} {{tradeUser.last_name }}</dd>
		<!-- če je trade mode == 1 ali 2, potem lahko uporabniku pošljemo mail -->
		<dd ng-if="trade.mode == 2 || trade.mode == 1">{{ tradeUser.email }} </dd>
		<!-- če je trade mode == 2, potem lahko uporabnika pokličemo po telefonu -->
		<dd ng-if="trade.mode == 2"> {{ tradeUser.phone }} </dd>
		<br />
		<a href="#">Send message</a>
		<!-- TODO: naredi chat -->
  	</li>
</ul>
<p ng-if="trade.active==0"> <b> Trade is closed. </b></p>
