<div class="img-container-det">
  <ul class="thumbnails">
  <li ng-repeat="img in trade.article.image">
    <a href=""><img ng-src="{{img}}" class="slika_detail" ng-click="setImage(img)"></a>
  </li>    
</ul>
</div>

<img ng-src="{{mainImage}}" class="detail">

<div class="container-fluid clearme">
<h1>{{trade.article.title}}</h1>
<p>{{trade.article.description}}</p>
<dl>
  <dt>Avaliable until:</dt>
	  <dd>{{ trade.expiry | date }}</dd>  
	<dt>Price:</dt>
    <dd>{{trade.article.price}} €</dd>
 	<dt>Category:</dt>
    <dd ng-repeat="category in trade.article.category">{{category}}</dd>
  <dt>Posted by:</dt>
    <dd>{{tradeUser.first_name}} {{tradeUser.last_name }}</dd>
		<!-- Ce je trade mode == 1 ali 2, potem lahko uporabniku posljemo mail -->
		<dd ng-if="trade.mode == 2 || trade.mode == 1">{{ tradeUser.email }} </dd>
		<!-- Ce je trade mode == 2, potem lahko uporabnika poklicemo po telefonu -->
		<dd ng-if="trade.mode == 2"> {{ tradeUser.phone }} </dd>
		<br />
    <!-- TODO: naredi chat -->
		<!--<a ng-if="tradeUser.online && tradeUser.id != user.id" href="#">Send message</a> -->
    <p ng-if="tradeUser.online && tradeUser.id != user.id" ><strong>User is online.</strong></p> 
    <p ng-if="!tradeUser.online && tradeUser.id != user.id"><strong>User is not online. </strong></p>
  	</li>
    <a class="btn btn-primary" ng-if="tradeUser.id == user.id && trade.active == 1" ng-click="closeTrade(trade.id)">Close trade</a>
</ul>
<p ng-if="trade.active==0"> <b> Trade is closed. </b></p>
<input type="hidden" value="{{trade.article.id}}" id="aid"/>
</div>
<dir-disqus disqus-shortname='socialtrade'
            disqus-identifier="{{ trade.article.id }}"
            disqus-url="{{ url }}"
            ready-to-bind="{{ contentLoaded }}"
            disqus-title="{{ trade.article.title }}">
</dir-disqus>