<h2>Register</h2><br>

<div ng-if="err" class="alert alert-warning alert-dismissable">
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
    <p>{{err}}</p>
</div>
<form class="form-horizontal">
    
    <div class="control-group required">
        <label for="input1" class="control-label">E-mail</label>
        <div class="controls">
          <input autofocus="autofocus" type="text" id="input1" ng-model="email"/>
        </div>
    </div>
    <div class="control-group required">
        <label for="input2" class="control-label">Password</label>
        <div class="controls">
          <input type="password" id="input2" ng-model="pass"/>
        </div>
    </div>
    <div class="control-group required">
        <label for="input2b" class="control-label">Confirm password</label>
        <div class="controls">
          <input type="password" id="input2b" ng-model="confirm"/>
        </div>
    </div>
    <div class="control-group required">
        <label for="input3" class="control-label">First name</label>
        <div class="controls">
          <input type="text" id="input3" ng-model="first_name"/>
        </div>
    </div>
    <div class="control-group required">
        <label for="input4" class="control-label">Last name</label>
        <div class="controls">
          <input type="text" id="input4" ng-model="last_name"/>
        </div>
    </div>
    <div class="control-group required">
        <label for="input6" class="control-label">Phone</label>
        <div class="controls">
          <input type="tel" id="input6" ng-model="phone"/>
        </div>
    </div>
    <div class="form-actions">
        <button class="btn btn-primary" ng-click="createAccount()">Sign Up</button>
    </div>
</form>