<div class="container-fluid">
	<div class="pull-right">Search: <input ng-model="query" placeholder="Search" ></div><br>
     
    <div class="row-fluid">
    <b>Users:</b> 
    <ul class="nav nav-list">

    <li ng-repeat="user in users | orderByPriority | filter:query | orderBy : order">
    	<a href="#/users/{{user.id}}" class="thumbnail">
    		<div id="{{user.id}}">	    	
	    		<!--<img ng-src="{{user.p_image}}">-->
	    		<span>{{user.first_name + " " + user.last_name}}</span>
	    	</div>
	    </a>
    </li>
    </ul>
	</div>	     
</div>
