
<div id="ProfilePage">
	<h1>{{userU.first_name + " " + userU.last_name}}</h1>
	
	<div >
		<img ng-src="{{userU.image}}" alt="User image">
		<address>
			<ul>
				<li>Email: <a href="mailto:{{userU.email}}">{{userU.email}}</a></li>
			</ul>
		</address>
		<div id="about">
			<p>
				<span>About:<br></span>
				{{userU.about}}
			</p>
		</div>
		<!-- TODO (could have): seznam prijateljev-->
		<!-- seznam stvari na prodaj-->
		<div class="span10">
			<br />
			<p> User's active trades </p>
			<ul>
    			<li ng-if="(trade.user_id == userU.id) && (trade.active==showfilter || showfilter==2)" ng-repeat="trade in trades | activeFilter | orderBy:order" class="thumbnail trade-listing">
					<div class="img-container"><a href="#/trades/{{trade.id}}" class="thumb"><img ng-src="{{trade.article.image[0]}}" class="slika_seznam"></a></div>
      				<a href="#/trades/{{trade.id}}">{{trade.article.title}}</a>
      				<p >{{trade.article.description.substring(0,200)}}...</p>
      				<p>{{trade.article.price}} €</p>
					<p>Created: {{ trade.created | date }}</p> 
     
    			</li>
  			</ul>
  		</div>
	</div>
</div>