<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" ng-app="myApp"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" ng-app="myApp"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" ng-app="myApp"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" ng-app="myApp" > <!--<![endif]-->
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>SocialTrade</title>
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width"> 

	<link rel="stylesheet" href="css/bootstrap.css">
	<link rel="stylesheet" href="css/app.css">
	<link rel="stylesheet" href="css/animations.css">
	<link rel="stylesheet" href="css/bootstrap-responsive.css">

	<link rel="stylesheet" type="text/css" href="css/jquery.fancybox.css?v=2.1.4" media="screen" />
	<!-- <link rel="stylesheet" href="css/bootstrap-theme.css"> -->
	<script src="js/modernizr-2.6.2-respond-1.1.0.min.js"></script>
</head>
<body ng-cloak ng-controller="MainCtrl"> <!-- MainCtrl is used for the "fake" login service -->
	<!--[if lt IE 7]>
		<p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
	<![endif]-->
	<div class="navbar navbar-fixed-top">
			<div class="navbar-inner">
				<div class="container">
					<a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</a>
					<a class="brand" href="#/trades">SocialTrade</a>
					<a class="hidden-desktop" style="float: right; margin: 10px;" ng-if='isLoggedIn()' href="#/myprofile">{{user.username}}</a>
					<div class="nav-collapse collapse">
						<ul class="nav">
							<li class="{active : isActive('/trades')}"><a href="#/trades">Home</a></li>
							<li ng-if='isLoggedIn()' class="{active : isActive('/mytrades')}"><a href="#/mytrades">My Trades</a></li>
							<li ng-if='isLoggedIn()' class="{active : isActive('/myprofile')}"><a href="#/myprofile">My Profile</a></li>
						</ul>
						
						<form class="navbar-form pull-right">
								<a class="btn" ng-if='!isLoggedIn()'  href="#/login">Sign In</a>
								<a class="btn" ng-if='!isLoggedIn()'  href="#/signup">Sign Up</a>
								<a class="visible-desktop" style="float: left; margin: 10px;" ng-if='isLoggedIn()' href="#/myprofile">{{user.username}}</a>
								<a href="#" class="btn" ng-if='isLoggedIn()' ng-click="logoutUser()">Log Out</a>
						</form>
					</div><!--/.nav-collapse -->
				</div>
			</div>
	</div>	
  <div class="container view-container">

	  <div ng-view class="view-frame"></div>
	  <hr>

		<footer>
			<p>&copy;</p>
		</footer>
  </div>

  <!-- In production use:
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/x.x.x/angular.min.js"></script>
  -->
  <script src="../bower_components/jquery/jquery.js"></script>
  <script src="../bower_components/angular/angular.js"></script>
  <script src="../bower_components/angular-route/angular-route.js"></script>
  <script src="../bower_components/angular-animate/angular-animate.js"></script>
  <script src="../bower_components/angular-resource/angular-resource.js"></script>
 <!-- <script src="js/functions.js"></script> -->
  <script src="js/bootstrap.js"></script>
  <script src="js/app.js"></script>
  <script src="js/services.js"></script>
  <script src="js/controllers.js"></script>
  <script src="js/filters.js"></script>
  <script src="js/directives.js"></script>
  <script src="js/animations.js"></script>
  <script src="js/iso8601.js"></script>
  <script src="js/bootstrap-alert.js"></script>
  <!-- fake login service -->
  <script src="js/auth.js"></script>
  <script src="js/login.js"></script>
  <!-- end fake login service -->
  <script src="js/register.js"></script>
  <script type="text/javascript" src="js/jquery.fancybox.js?v=2.1.4"></script>
</body>
</html>
